
@{
    ViewBag.Title = "TestRazor";
}

<h2>TestRazor</h2>
<h3>@DateTime.Now.ToLongDateString()</h3>

@{ 
    var datum = DateTime.Now.ToLongDateString();
    var sporocilo = "Pozdravljen MVC";
}

<h2>Danes je: @datum</h2><br />
<h2>@sporocilo</h2>

@*tekst med kodo*@

@{ 
    var datum1 = DateTime.Now.ToLongDateString();
    var sporocilo1 = "Pozdravljen MVC";
    <text>Danes je </text> @datum <br/>
    @sporocilo <br/>
}

@if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    @DateTime.Now.Year <text>je prestopno leto</text>
}

else{
    @DateTime.Now.Year <text>ni prestopno leto</text>
}

<br/>
@for(int i = 0; i < 5; i++){
    @i.ToString() <br/>
}

@model MVCStudenti.Models.Student
    <h2>Podrobnosti študenta</h2>
    <ul>
        <li>Študent id: @Model.StudentId</li>
        <li>Ime:        @Model.StudentName</li>
        <li>Leta:       @Model.Age</li>
    </ul>
@Html.ActionLink("Klikni me","Index");